<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/store_index_layout}">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <title></title>
</head>
<body>
  <main layout:fragment="content">
    <article th:if="${#lists.size(cursor.response)>0}">
      <th:block th:replace="fragments/store/store_content_fragments :: productList"></th:block>
    </article>
  </main>
</body>
</html>